---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {{ site.title }}
    </h1>
  </header>


    <article>
      <div class="profile float-right">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Funded by</h3>
            <div class="col-md-10">
              {% responsive_image path: assets/img/ANR-logo.jpg title: "ANR Logo" class: "img-fluid rounded z-depth-0" %}
            </div>
            <div class="col-md-8 float-start">
              {% responsive_image path: assets/img/NSF-logo.png title: "NSF Logo" class: "img-fluid rounded z-depth-0" %}
            </div>
            <h3 class="card-title">Consortium</h3>
            <div class="col-md-10">
              {% responsive_image path: assets/img/Logo_USMB_hor.png title: "USMB Logo" class: "img-fluid rounded z-depth-0" %}
            </div>
            <div class="col-md-10">
              {% responsive_image path: assets/img/uchicago.png title: "U Chicago Logo" class: "img-fluid rounded z-depth-0" %}
            </div>
            <div class="col-md-10">
              {% responsive_image path: assets/img/stanford_hor.png title: "Stanford Logo" class: "img-fluid rounded z-depth-0" %}
            </div>
          </div>
        </div>
      </div>

    <div class="clearfix">
     <h2 class="desc">{{ page.description }}</h2>
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
